.controle {
    color: #375dd6;
    padding: 20px;
    text-align: center;
}

header{
    background: #f0d264;
    position: relative;
    opacity: 50%;
}

.logo{
    position: absolute; 
    display: flex;
    width: 270px; 
    height: auto;
    padding-left: 20px;
    top: 20%;
}

.center{
    text-align: center;
    font-size: 1.25rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #faf7f2da;
}

nav a {
    color: #375dd6;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

body{
    background: #5f8f75;
}

.product-card-img {
    height: 200px;
    /* Altura fixa para as imagens dos produtos */
    object-fit: cover;
}

.col{
    transition: transform 0.3s ease; /* animação suave */
    cursor: pointer;
}

.card{
    background: #eaf4ff;
    box-shadow: 0 8px 20px rgba(0,0,0,0.12);
}

.col:hover {
    transform: scale(1.1);
}

.carousel-item img {
    max-height: 500px;
    object-fit: cover;
}

.mb-5{
    padding-bottom: 0.000001vh;
}

.mb-4{
    color: #faf7f2da
}

.card-title{
    margin: 0 0;
}