<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roamazing</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <header>
        <a href="../../index.html"><img src="../../../images/logoCompleta.png" class="logo"></a>
        <div class="controle">
            <h1>Melhores viagens pela Oceania</h1>
            <nav>
                <a href="../brasil/brasil.html">Brasil</a>
                <a href="../america/america.html">America</a>
                <a href="../europa/europa.html">Europa</a>
                <a href="../asia/asia.html">Asia</a>
                <a href="../africa/africa.html">Africa</a>
            </nav>
        </div>

    </header>


    <main class="container mt-4">

        <section class="mb-5">
            <p class="center">A Oceania é um destino encantador que se destaca por suas paisagens paradisíacas e rica
                diversidade natural. Composta por ilhas e países rodeados pelo oceano, a região oferece praias de águas
                cristalinas, recifes de corais, florestas tropicais e cidades modernas.

                Além das belezas naturais, a Oceania possui uma cultura única, influenciada por tradições indígenas e
                pela vida à beira-mar. A hospitalidade, o estilo de vida tranquilo e as experiências ao ar livre tornam
                a viagem ainda mais especial.

                Seja para relaxar em praias incríveis, explorar a vida marinha ou conhecer novas culturas, a Oceania é
                um destino inesquecível.</p>
        </section>
        <hr>

        <section class="text-center mb-5">
            <h2 class="mb-4">Todos os resultados</h2>
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">

                <div class="col">
                    <div class="card h-100">
                        <img src="destinos/sydney.jpg" class="card-img-top product-card-img">
                        <div class="card-body d-flex flex-column">
                            <h3 class="card-title">Sydney</h3>
                            <p class="card-text text-muted">Sydney é famosa pela Opera House e suas belas praias.</p>
                            <h6>A partir de</h6>
                            <p class="fs-4 text-success fw-bold mt-auto">R$ 8.999,90</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100">
                        <img src="destinos/melbourne.jpg" class="card-img-top product-card-img">
                        <div class="card-body d-flex flex-column">
                            <h3 class="card-title">Melbourne</h3>
                            <p class="card-text text-muted">Melbourne é conhecida por sua cultura, arte e gastronomia.
                            </p>
                            <h6>A partir de</h6>
                            <p class="fs-4 text-success fw-bold mt-auto">R$ 8.799,90</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100">
                        <img src="destinos/aucland.jpg" class="card-img-top product-card-img">
                        <div class="card-body d-flex flex-column">
                            <h3 class="card-title">Auckland</h3>
                            <p class="card-text text-muted">Auckland combina natureza exuberante e vida urbana moderna.
                            </p>
                            <h6>A partir de</h6>
                            <p class="fs-4 text-success fw-bold mt-auto">R$ 9.199,90</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100">
                        <img src="destinos/queenstown.jpg" class="card-img-top product-card-img">
                        <div class="card-body d-flex flex-column">
                            <h3 class="card-title">Queenstown</h3>
                            <p class="card-text text-muted">Queenstown é famosa por esportes radicais e paisagens
                                incríveis.</p>
                            <h6>A partir de</h6>
                            <p class="fs-4 text-success fw-bold mt-auto">R$ 9.499,90</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100">
                        <img src="destinos/barreira.jpg" class="card-img-top product-card-img">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">Grande Barreira de Corais</h5>
                            <p class="card-text text-muted">É o maior recife de corais do mundo, ideal para mergulho.
                            </p>
                            <h6>A partir de</h6>
                            <p class="fs-4 text-success fw-bold mt-auto">R$ 8.699,90</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100">
                        <img src="destinos/fiji.avif" class="card-img-top product-card-img">
                        <div class="card-body d-flex flex-column">
                            <h3 class="card-title">Fiji</h3>
                            <p class="card-text text-muted">Fiji encanta com ilhas tropicais e águas cristalinas.</p>
                            <h6>A partir de</h6>
                            <p class="fs-4 text-success fw-bold mt-auto">R$ 9.899,90</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100">
                        <img src="destinos/tasmania.jpg" class="card-img-top product-card-img">
                        <div class="card-body d-flex flex-column">
                            <h3 class="card-title">Tasmânia</h3>
                            <p class="card-text text-muted">A Tasmânia é conhecida por sua natureza selvagem e
                                preservada.</p>
                            <h6>A partir de</h6>
                            <p class="fs-4 text-success fw-bold mt-auto">R$ 8.599,90</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100">
                        <img src="destinos/wellington.webp" class="card-img-top product-card-img">
                        <div class="card-body d-flex flex-column">
                            <h3 class="card-title">Wellington</h3>
                            <p class="card-text text-muted">Wellington é charmosa, com cultura e belas paisagens
                                costeiras.</p>
                            <h6>A partir de</h6>
                            <p class="fs-4 text-success fw-bold mt-auto">R$ 9.099,90</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100">
                        <img src="destinos/borabora.jfif" class="card-img-top product-card-img">
                        <div class="card-body d-flex flex-column">
                            <h3 class="card-title">Bora Bora</h3>
                            <p class="card-text text-muted">Bora Bora é um paraíso com águas azul-turquesa e resorts
                                luxuosos.</p>
                            <h6>A partir de</h6>
                            <p class="fs-4 text-success fw-bold mt-auto">R$ 12.999,90</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100">
                        <img src="destinos/papua.jfif" class="card-img-top product-card-img">
                        <div class="card-body d-flex flex-column">
                            <h3 class="card-title">Papua-Nova Guiné</h3>
                            <p class="card-text text-muted">Destino exótico com culturas tribais e natureza preservada.
                            </p>
                            <h6>A partir de</h6>
                            <p class="fs-4 text-success fw-bold mt-auto">R$ 9.799,90</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100">
                        <img src="destinos/cook.jpg" class="card-img-top product-card-img">
                        <div class="card-body d-flex flex-column">
                            <h3 class="card-title">Ilhas Cook</h3>
                            <p class="card-text text-muted">Ilhas Cook oferecem praias tranquilas e águas cristalinas.
                            </p>
                            <h6>A partir de</h6>
                            <p class="fs-4 text-success fw-bold mt-auto">R$ 10.499,90</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100">
                        <img src="destinos/goldcoast.jfif" class="card-img-top product-card-img">
                        <div class="card-body d-flex flex-column">
                            <h3 class="card-title">Gold Coast</h3>
                            <p class="card-text text-muted">Gold Coast é famosa por praias, surf e parques temáticos.
                            </p>
                            <h6>A partir de</h6>
                            <p class="fs-4 text-success fw-bold mt-auto">R$ 8.899,90</p>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </main>

    <footer class="bg-dark text-white pt-3 pb-2 mt-5">
        <div class="container text-center text-md-start">
            <div class="row text-center text-md-start">

                <div class="text-center mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 fw-bold text-warning">Roamazing</h5>
                    <p>Explore o planeta de um jeito único — destinos incríveis, experiências inesquecíveis. 🌎</p>
                </div>

            </div>
            <hr class="mb-4">
            <div class="text-center">
                <p>Desenvolvido com Bootstrap &copy; 2026. Todos os direitos reservados.</p>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
    </script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</body>

</html>