<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roamazing</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <header>
        <a href="../../index.html"><img src="../../../images/logoCompleta.png" class="logo"></a>
        <div class="controle">
            <h1>Melhores viagens pelo Brasil</h1>
            <nav>
                <a href="../america/america.html">America</a>
                <a href="../europa/europa.html">Europa</a>
                <a href="../asia/asia.html">Asia</a>
                <a href="../africa/africa.html">Africa</a>
                <a href="../oceania/oceania.html">Oceania</a>
            </nav>
        </div>

    </header>


    <main class="container mt-4">

        <section class="mb-5">
            <p class="center">O Brasil é um destino que encanta pela sua diversidade de paisagens e culturas. O país
                reúne praias
                paradisíacas, florestas exuberantes, cachoeiras e cidades cheias de história, oferecendo experiências
                para todos os estilos de viajantes.

                Além das belezas naturais, a cultura brasileira é um grande destaque, com música, gastronomia e festas
                que refletem a mistura de diferentes influências. O povo acolhedor e o clima vibrante tornam a viagem
                ainda mais especial.

                Seja para relaxar, explorar ou se aventurar, o Brasil é um destino completo e inesquecível.</p>
        </section>
        <hr>

        <section class="text-center mb-5">
            <h2 class="mb-4">Todos os resultados</h2>
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">

                <div class="col">
                    <div class="card h-100">

                        <img src="destinos/gramado.webp" class="card-img-top product-card-img"
                            alt="Produto A">

                        <div class="card-body d-flex flex-column">
                            <h3 class="card-title">Gramado</h3>
                            <p class="card-text text-muted">Gramado encanta pelo clima europeu, belas paisagens e charme
                                acolhedor.</p>
                            <h6 class="card-title">A partir de</h6>
                            <p class="fs-4 text-success fw-bold mt-auto">R$ 1.999,90</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100">

                        <img src="destinos/bc.avif" class="card-img-top product-card-img"
                            alt="Produto A">

                        <div class="card-body d-flex flex-column">
                            <h3 class="card-title">Balneário Camboriú</h3>
                            <p class="card-text text-muted">Balneário Camboriú oferece praias e uma vida vibrante à
                                beira-mar.</p>
                            <h6 class="card-title">A partir de</h6>
                            <p class="fs-4 text-success fw-bold mt-auto">R$ 2.199,90</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100">

                        <img src="destinos/maragogi.webp" class="card-img-top product-card-img"
                            alt="Produto A">

                        <div class="card-body d-flex flex-column">
                            <h3 class="card-title">Maragogi</h3>
                            <p class="card-text text-muted">O Caribe Brasileiro tem praias brancas e águas cristalinas.
                            </p>
                            <h6 class="card-title">A partir de</h6>
                            <p class="fs-4 text-success fw-bold mt-auto">R$ 2.599,90</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100">

                        <img src="destinos/copacabana.jpg" class="card-img-top product-card-img"
                            alt="Produto A">

                        <div class="card-body d-flex flex-column">
                            <h3 class="card-title">Copacabana</h3>
                            <p class="card-text text-muted">Copacabana é famosa por sua praia e calçadão movimentado.
                            </p>
                            <h6 class="card-title">A partir de</h6>
                            <p class="fs-4 text-success fw-bold mt-auto">R$ 999,90</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100">

                        <img src="destinos/caldasnovas.jpg" class="card-img-top product-card-img"
                            alt="Produto A">

                        <div class="card-body d-flex flex-column">
                            <h3 class="card-title">Caldas Novas</h3>
                            <p class="card-text text-muted">Caldas Novas é famosa por suas águas termais e resorts.</p>
                            <h6 class="card-title">A partir de</h6>
                            <p class="fs-4 text-success fw-bold mt-auto">R$ 2.299,90</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100">

                        <img src="destinos/rj.jpg" class="card-img-top product-card-img"
                            alt="Produto A">

                        <div class="card-body d-flex flex-column">
                            <h3 class="card-title">Rio de Janeiro</h3>
                            <p class="card-text text-muted">Rio de Janeiro tem praias famosas e paisagens icônicas.</p>
                            <h6 class="card-title">A partir de</h6>
                            <p class="fs-4 text-success fw-bold mt-auto">R$ 899,90</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100">

                        <img src="destinos/ouroPreto.avif" class="card-img-top product-card-img"
                            alt="Produto A">

                        <div class="card-body d-flex flex-column">
                            <h3 class="card-title">Ouro Preto</h3>
                            <p class="card-text text-muted">Ouro Preto com suas ruas históricas, igrejas barrocas e
                                charme colonial.</p>
                            <h6 class="card-title">A partir de</h6>
                            <p class="fs-4 text-success fw-bold mt-auto">R$ 299,90</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100">

                        <img src="destinos/brasilia.jpg" class="card-img-top product-card-img"
                            alt="Produto A">

                        <div class="card-body d-flex flex-column">
                            <h3 class="card-title">Brasília</h3>
                            <p class="card-text text-muted">Brasília se destaca pela arquitetura moderna e marcos
                                culturais.</p>
                            <h6 class="card-title">A partir de</h6>
                            <p class="fs-4 text-success fw-bold mt-auto">R$ 1.399,90</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100">

                        <img src="destinos/fernandodenoronha.jpg" class="card-img-top product-card-img"
                            alt="Produto A">

                        <div class="card-body d-flex flex-column">
                            <h4 class="card-title">Fernando de Noronha</h4>
                            <p class="card-text text-muted">Fernando de Noronha tem praias paradisíacas e águas
                                cristalinas.</p>
                            <h6 class="card-title">A partir de</h6>
                            <p class="fs-4 text-success fw-bold mt-auto">R$ 6.499,90</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100">

                        <img src="destinos/olinda.jpg" class="card-img-top product-card-img"
                            alt="Produto A">

                        <div class="card-body d-flex flex-column">
                            <h3 class="card-title">Olinda</h3>
                            <p class="card-text text-muted">Olinda encanta com seu centro histórico colorido e festas
                                tradicionais.</p>
                            <h6 class="card-title">A partir de</h6>
                            <p class="fs-4 text-success fw-bold mt-auto">R$ 2.199,90</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100">

                        <img src="destinos/fozdoiguacu.jpg" class="card-img-top product-card-img"
                            alt="Produto A">

                        <div class="card-body d-flex flex-column">
                            <h3 class="card-title">Foz do Iguaçu</h3>
                            <p class="card-text text-muted">Foz do Iguaçu é famosa pelas Cataratas.</p>
                            <h6 class="card-title">A partir de</h6>
                            <p class="fs-4 text-success fw-bold mt-auto">R$ 2.799,90</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100">

                        <img src="destinos/jericoacoara.jpg" class="card-img-top product-card-img"
                            alt="Produto A">

                        <div class="card-body d-flex flex-column">
                            <h3 class="card-title">Jericoacoara</h3>
                            <p class="card-text text-muted">Jericoacoara encanta com praias paradisíacas, dunas e pôr do
                                sol.</p>
                            <h6 class="card-title">A partir de</h6>
                            <p class="fs-4 text-success fw-bold mt-auto">R$ 3.299,90</p>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main>

    <footer class="bg-dark text-white pt-3 pb-2 mt-5">
        <div class="container text-center text-md-start">
            <div class="row text-center text-md-start">

                <div class="text-center mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 fw-bold text-warning">Roamazing</h5>
                    <p>Explore o planeta de um jeito único — destinos incríveis, experiências inesquecíveis. 🌎</p>
                </div>

            </div>
            <hr class="mb-4">
            <div class="text-center">
                <p>Desenvolvido com Bootstrap &copy; 2026. Todos os direitos reservados.</p>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
    </script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</body>

</html>