<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roamazing</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <header>
        <a href="../../index.html"><img src="../../../images/logoCompleta.png" class="logo"></a>
        <div class="controle">
            <h1>Melhores viagens pela Asia</h1>
            <nav>
                <a href="../brasil/brasil.html">Brasil</a>
                <a href="../america/america.html">America</a>
                <a href="../europa/europa.html">Europa</a>
                <a href="../africa/africa.html">Africa</a>
                <a href="../oceania/oceania.html">Oceania</a>
            </nav>
        </div>

    </header>


    <main class="container mt-4">

        <section class="mb-5">
            <p class="center">A Ásia é um destino fascinante que encanta pela sua imensa diversidade de culturas,
                paisagens e tradições milenares. O continente reúne desde metrópoles modernas e tecnológicas até templos
                históricos, montanhas imponentes, desertos e praias paradisíacas, oferecendo experiências únicas para
                todos os tipos de viajantes.

                Além de suas belezas naturais, a cultura asiática é um grande destaque, marcada por filosofias antigas,
                culinárias ricas em sabores e costumes que variam de país para país. Festivais tradicionais, arquitetura
                impressionante e uma forte identidade cultural tornam cada viagem ainda mais enriquecedora.

                Seja para conhecer novas culturas, se aventurar por cenários exóticos ou explorar destinos históricos, a
                Ásia é um continente completo e inesquecível.</p>
        </section>
        <hr>

        <section class="text-center mb-5">
            <h2 class="mb-4">Todos os resultados</h2>
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">

                <div class="col">
                    <div class="card h-100">

                        <img src="destinos/tokio.webp" class="card-img-top product-card-img"
                            alt="Produto A">

                        <div class="card-body d-flex flex-column">
                            <h3 class="card-title">Tóquio</h3>
                            <p class="card-text text-muted">Tóquio mistura tradição e tecnologia, templos históricos e arranha-céus.</p>
                            <h6 class="card-title">A partir de</h6>
                            <p class="fs-4 text-success fw-bold mt-auto">R$ 7.499,90</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100">

                        <img src="destinos/dubai.webp" class="card-img-top product-card-img"
                            alt="Produto A">

                        <div class="card-body d-flex flex-column">
                            <h3 class="card-title">Dubai</h3>
                            <p class="card-text text-muted">Dubai impressiona com luxo e arquitetura moderna no deserto.</p>
                            <h6 class="card-title">A partir de</h6>
                            <p class="fs-4 text-success fw-bold mt-auto">R$ 6.199,90</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100">

                        <img src="destinos/pequim.jpg" class="card-img-top product-card-img"
                            alt="Produto A">

                        <div class="card-body d-flex flex-column">
                            <h3 class="card-title">Pequim</h3>
                            <p class="card-text text-muted">Pequim é histórica, com monumentos como a Grande Muralha.
                            </p>
                            <h6 class="card-title">A partir de</h6>
                            <p class="fs-4 text-success fw-bold mt-auto">R$ 5.899,90</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100">

                        <img src="destinos/bali.jfif" class="card-img-top product-card-img"
                            alt="Produto A">

                        <div class="card-body d-flex flex-column">
                            <h3 class="card-title">Bali</h3>
                            <p class="card-text text-muted">Bali encanta com praias paradisíacas, templos e uma cultura espiritual.
                            </p>
                            <h6 class="card-title">A partir de</h6>
                            <p class="fs-4 text-success fw-bold mt-auto">R$ 6.499,90</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100">

                        <img src="destinos/taj.webp" class="card-img-top product-card-img"
                            alt="Produto A">

                        <div class="card-body d-flex flex-column">
                            <h3 class="card-title">Taj Mahal (Agra)</h3>
                            <p class="card-text text-muted">O Taj Mahal é um símbolo do amor eterno, localizado em Agra, Índia.</p>
                            <h6 class="card-title">A partir de</h6>
                            <p class="fs-4 text-success fw-bold mt-auto">R$ 5.299,90</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100">

                        <img src="destinos/singapura.jfif" class="card-img-top product-card-img"
                            alt="Produto A">

                        <div class="card-body d-flex flex-column">
                            <h3 class="card-title">Singapura</h3>
                            <p class="card-text text-muted">Singapura combina natureza e uma arquitetura urbana impressionante.</p>
                            <h6 class="card-title">A partir de</h6>
                            <p class="fs-4 text-success fw-bold mt-auto">R$ 7.199,90</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100">

                        <img src="destinos/bangkok.webp" class="card-img-top product-card-img"
                            alt="Produto A">

                        <div class="card-body d-flex flex-column">
                            <h3 class="card-title">Bangkok</h3>
                            <p class="card-text text-muted">Bangkok é vibrante, com templos dourados e uma vida noturna intensa.</p>
                            <h6 class="card-title">A partir de</h6>
                            <p class="fs-4 text-success fw-bold mt-auto">R$ 5.499,90</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100">

                        <img src="destinos/fuji.webp" class="card-img-top product-card-img"
                            alt="Produto A">

                        <div class="card-body d-flex flex-column">
                            <h3 class="card-title">Monte Fuji</h3>
                            <p class="card-text text-muted">O Monte Fuji é um ícone do Japão, conhecido por sua beleza e paisagens.</p>
                            <h6 class="card-title">A partir de</h6>
                            <p class="fs-4 text-success fw-bold mt-auto">R$ 7.299,90</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100">

                        <img src="destinos/maldivas.jfif" class="card-img-top product-card-img"
                            alt="Produto A">

                        <div class="card-body d-flex flex-column">
                            <h3 class="card-title">Maldivas</h3>
                            <p class="card-text text-muted">As Maldivas são famosas por águas cristalinas e bangalôs sobre o mar.</p>
                            <h6 class="card-title">A partir de</h6>
                            <p class="fs-4 text-success fw-bold mt-auto">R$ 9.999,90</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100">

                        <img src="destinos/seu.jpg" class="card-img-top product-card-img"
                            alt="Produto A">

                        <div class="card-body d-flex flex-column">
                            <h3 class="card-title">Seul</h3>
                            <p class="card-text text-muted">Seul mistura tradição e inovação, com palácios históricos e tecnologia.</p>
                            <h6 class="card-title">A partir de</h6>
                            <p class="fs-4 text-success fw-bold mt-auto">R$ 6.799,90</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100">

                        <img src="destinos/petra.jpg" class="card-img-top product-card-img"
                            alt="Produto A">

                        <div class="card-body d-flex flex-column">
                            <h3 class="card-title">Petra</h3>
                            <p class="card-text text-muted">Petra encanta com construções esculpidas e um cenário histórico.</p>
                            <h6 class="card-title">A partir de</h6>
                            <p class="fs-4 text-success fw-bold mt-auto">R$ 6.299,90</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100">

                        <img src="destinos/phuket.jfif" class="card-img-top product-card-img"
                            alt="Produto A">

                        <div class="card-body d-flex flex-column">
                            <h3 class="card-title">Phuket</h3>
                            <p class="card-text text-muted">Phuket é famosa por suas praias tropicais e águas cristalinas.</p>
                            <h6 class="card-title">A partir de</h6>
                            <p class="fs-4 text-success fw-bold mt-auto">R$ 5.799,90</p>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main>

    <footer class="bg-dark text-white pt-3 pb-2 mt-5">
        <div class="container text-center text-md-start">
            <div class="row text-center text-md-start">

                <div class="text-center mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 fw-bold text-warning">Roamazing</h5>
                    <p>Explore o planeta de um jeito único — destinos incríveis, experiências inesquecíveis. 🌎</p>
                </div>

            </div>
            <hr class="mb-4">
            <div class="text-center">
                <p>Desenvolvido com Bootstrap &copy; 2026. Todos os direitos reservados.</p>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
    </script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</body>

</html>